<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.noam.ftcscouting">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_plantech"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_plantech"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MatchesActivity"
            android:configChanges="orientation|screenLayout|screenSize"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation|screenLayout|screenSize"
            android:label="@string/title_activity_login"
            android:screenOrientation="sensorPortrait" />

        <activity
            android:name=".EventActivity"
            android:configChanges="orientation|screenLayout|screenSize"
            android:label="@string/title_activity_event"
            android:screenOrientation="sensorPortrait" />


        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenLayout|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".alarm.AlarmReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".alarm.StopAlarmReceiver" />

        <service android:name=".alarm.RescheduleAlarmsService" />
        <service android:name=".alarm.AlarmService" />

    </application>

</manifest>